---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Ofertas from '../components/Ofertas.astro';
import Servicios from '../components/Servicios.astro'
---

<Layout title="Bienvenido a Ferreteria Pelarco">
	<main>
		<Carousel/>
		<Servicios/>
		<Ofertas/>
	</main>
</Layout>